{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card bg-dark mb-4 border border-light">
            <img src="{{ cocktail.strDrinkThumb }}" alt="{{ cocktail.strDrink }}" class="card-img-top"
                 style="max-width: 100%; max-height: 400px; object-fit: cover;">
            <div class="card-body">
                <h2 class="card-title text-white">{{ cocktail.strDrink }}</h2>
                <h5 class="text-white">Ingredients:</h5>
                <ul class="list-unstyled text-white">
                    {% for i in range(1, 16) %}
                    {% if cocktail['strIngredient' ~ i] %}
                    <li>{{ cocktail['strIngredient' ~ i] }}{% if cocktail['strMeasure' ~ i] %} - {{
                        cocktail['strMeasure' ~ i] }}{% endif %}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <h5 class="text-white mt-4">Instructions:</h5>
                <p class="text-white">{{ cocktail.strInstructions }}</p>
                <h5 class="text-white mt-4">Glass:</h5>
                <p class="text-white">{{ cocktail.strGlass }}</p>
            </div>
            <!-- Check if user is authenticated -->
            {% if current_user.is_authenticated %}
    <form action="{{ url_for('favorite_cocktail', drink_id=cocktail.idDrink) }}" method="post" class="mb-3 ml-3">
        <input type="submit" class="btn btn-primary" value="Favorite">
    </form>
{% endif %}
        </div>
    </div>
</div>
{% endblock %}

