{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-3 mb-4">Cocktail Explorer</h1>
        </div>
    </div>



    <div class="row mt-4">
        {% for cocktail in cocktails %}
        <div class="col-md-4 mb-4">
            <div class="card bg-dark">
                <img src="{{ cocktail['strDrinkThumb'] }}" alt="{{ cocktail['strDrink'] }}" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title text-white">
                        {{ cocktail['strDrink'] }}
                    </h5>
                    
                    <!-- Button to redirect to the cocktail details page -->
                    <a href="{{ url_for('cocktail_detail', drink_id=cocktail['idDrink']) }}" class="btn btn-primary mt-2">Show Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}